// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
    margin-bottom: 0;
}

.boxes {
    .media {
        border: thin solid #ddd;
        padding: 1em;
        border-radius: 10px;
        background-color: #eee;
        position: relative;
        .time {
            position: absolute;
            top: 8px;
            right: 8px;
            color: #666;
        }
    }
}